In [1]:
#pip install scikit-surprise pandas

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('Datasets/Recommend.csv',names=['userid','movieid','rating','timestamp'])
df

       userid  movieid  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [4]:
n_users=df.userid.unique().shape[0]
n_movies=df.movieid.unique().shape[0]
train_data, test_data = train_test_split(df, test_size=0.25)
train_data_matrix = np.zeros((n_users, n_movies))

In [ ]:
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]
    from sklearn.metrics.pairwise import pairwise_distances
    user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
    movie_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')
    mean_user_rating = train_data_matrix.mean(axis=1)[:,np.newaxis]
    ratings_diff = (train_data_matrix - mean_user_rating)
    user_pred = mean_user_rating + user_similarity.dot(ratings_diff)/np.array([np.abs(user_similarity).sum(axis=1)]).T
   # user_pred = mean_user_rating + user_similarity.dot(train_data_matrix - mean_user_rating) / np.array([np.abs(user_similarity).sum(axis=1)]).T
    user_pred
    movie_pred = train_data_matrix.dot(movie_similarity)/np.array([np.abs(movie_similarity).sum(axis=1)])
    movie_pred
    def rmse(pred, test):
        pred = pred[test.nonzero()].flatter()
        test = test[test.nonzero()].flatter()
        return sqrt(mean_squared_error(pred,test))
test_data_matrix = np.zeros((n_users, n_movies))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]
    rmse(user_pred, test_data_matrix)